* {
  margin: 0;
  padding: 0;
}
div {
  border: 2px solid black;
  width: 300px;
  height: 300px;
  margin: 25px;
  padding: 50px;
}
.box {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  padding: 100px;
  box-sizing: border-box;
}
span {
  border: 2px solid red;
  width: 400px;
  height: 400px;
  margin: 200px;
  padding: 300px;
  display: block;
}
