div {
  border: 2px solid black;
  position: relative;
  height: 1000px;
}
/* image is inline tag */
.image2 {
  position: relative;
  top: 100px;
  bottom: 100px;
  left: 100px;
  right: 400px;
}
.image3 {
  position: absolute;
  top: 100px;
}
/* .image4 {
  position: fixed;
} */
